<div id="bar2" class="w-full max-w-lg">

<%= render 'quests/quests'%>

<%= render 'quests/user'%>
<!-- component -->
<!-- MDI Icons -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">
  <!-- Navigation Bar -->
  <div class="px-5 pt-3 bg-white shadow-lg rounded-2xl bg-quest">
    <div class="flex flex-row">
      <!-- Item #1 -->
      <div class="flex-grow group">
        <%= link_to areas_path, class: "p-3 text-blue-gray-700 text-bold" do %>
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i class="mdi mdi-home-outline mdi-24px mx-1 text-gray-500 group-hover:text-gray-700
              transition-color duration-200"></i>

            <!-- Text -->
            <span class="text-xs mb-2 transition-all duration-200">
              ホームへ
            </span>

            <!-- Focus Dot -->
            <span class="h-2 w-2 rounded-full group-hover:bg-yellow-500
              transition-all duration-150 delay-100"></span>
          </span>
        <%end%>
      </div>
      <!-- Item #2 -->
      <div class="flex-grow group">
        <label for="my-modal-4" class="p-3 text-blue-gray-700 text-bold">
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i class="mdi mdi-format-list-bulleted mdi-24px mx-1 text-gray-500 group-hover:text-gray-700
              transition-color duration-200"></i>

            <!-- Text -->
            <span class="text-xs mb-2 transition-all duration-200">
              現在の区エスト
            </span>

            <!-- Focus Dot -->
            <span class="h-2 w-2 rounded-full group-hover:bg-yellow-500
              transition-all duration-150 delay-100"></span>
          </span>
        </label>
      </div>

      <!-- Item #3 Active -->
      <div class="flex-grow group">
        <label for="my-modal-users" class="p-3 text-blue-gray-700 text-bold">
          <span class="flex flex-col items-center">
            <!-- Icon -->
            <i class="mdi mdi-account-outline mdi-24px mx-1 text-gray-700 group-hover:text-gray-700
              transition-color duration-200"></i>

            <!-- Text -->
            <span class="text-xs mb-2 transition-all duration-200">
            <% if current_user %>
              <%= current_user.name %>
            <%else%>
              ユーザー
            <%end%>
            </span>

            <!-- Focus Dot -->
            <span class="h-2 w-2 rounded-full group-hover:bg-yellow-500
              transition-all duration-150 delay-100"></span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>