    <div class="card my-8 w-full shadow-xl">
      <figure><%= image_tag 'kuest.png', class: 'w-full'%></figure>
      <div class="card-body">
        <p class="text-lg"><%=post.title%></p>
      </div>
    </div>