<div id="bar3">
  <% if current_user %>
    <%= link_to "ログアウト", log_out_path, class: "btn"%>
  <%else%>
    <%= link_to 'ログイン', auth_at_provider_path(provider: :google), class: "btn"%>
  <%end%>
  <%= link_to '使い方', home_index_path, class: "btn"%>
  <button class="btn" onclick="getCurrent()">現在地</button>
</div>