<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative overflow-y-auto h-full">
    <h1 class="text-2xl text-center">受注中の区エスト一覧</h1>
    <%= render partial: 'quests/quest', collection: @posts, as: 'post' %>
    <div class="text-center">
      <label for="my-modal-4" class="btn">閉じる</label>
    </div>
  </label>
</label>
