<input type="checkbox" id="my-modal-users" class="modal-toggle" />
<label for="my-modal-users" class="modal cursor-pointer">
  <label class="modal-box relative overflow-y-auto h-full">
    <p class="text-lg">現在レベル</p>
    <p class="text-lg"><%= current_user&.current_emblems&.last&.name %></p>
    <%= render 'quests/finishes'%>
    <div class="text-center">
      <label for="my-modal-users" class="btn">閉じる</label>
    </div>
</label>

</label>