<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative overflow-y-auto h-full" for="">
  <h3 class="font-bold text-lg">受注中のクエスト</h3>
  <%= render partial: 'stamps/quest', collection: @posts, as: 'post' %>
  </label>
</label>
