<section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8 text-center">
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6 self-center">
        <h2 class="text-5xl text-gray-800 font-bold leading-none mb-3 text-left">
          イベントを選ぼう！
        </h2>
        <p class="text-gray-600 mb-8 text-2xl text-left my-8 font-sans">
          区ごとに開催されているイベント情報がクエストです。自分の行きたいクエストを選びましょう！
          <br />
          <br />
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <%= image_tag 'ex1.png',class:"rounded-lg" %>
      </div>
    </div>
    
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <%= image_tag 'ex2.png',class:"rounded-lg" %>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6 self-center">
        <div class="align-middle">
          <h2 class="text-5xl text-gray-800 font-bold leading-none mb-3 text-left">
            イベントの場所まで行こう！
          </h2>
          <p class="text-gray-600 mb-8 text-2xl text-left my-8 font-sans">
            実際にイベント場所に行くことでクエストがクリアできます。色々なクエストへ行ってみましょう！
            <br />
            <br />
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6 self-center text-left">
        <h2 class="text-5xl text-gray-800 font-bold leading-none mb-3">
          レベルを上げよう！
        </h2>
        <p class="text-gray-600 mb-8 text-2xl text-left my-8 font-sans">
          クリアするごとに自分のキャクターがパワーアップしていきます。どんどんパワーアップさせましょう！
          <br />
          <br />
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <%= image_tag 'ex3.png',class:"rounded-lg" %>
      </div>
    </div>
    <h2 class="w-full my-12 text-5xl font-bold leading-tight text-center text-gray-800">
      さっそく始めましょう！
    </h2>
  <%= link_to "スタート", areas_path, class: "btn btn-lg btn-primary text-center w-96"%>
  </div>
</section>