  <div class="form-control">
      <%= form_with url: admin_scrapes_path,local: true do |f|%>
        <label class="input-group">
          <span class="btn btn-warning">⭐︎区エスト⭐︎</span>
          <%= f.text_field :page_number,class:'input input-bordered input-warning' %>
          <%= f.text_field :area_name,class:'input input-bordered input-warning' %>
          <%= f.submit class:'btn'%>
        </label>
      <%end%>
  </div>