<div class="card bg-base-100 shadow-xl mb-8">
<%= link_to area_path(area) do%>
  <div class="card-body">
    <h1 class="card-title text-white text-2xl"><%=area.area_name%></h1>
  </div>
<%end%>
</div>
