<%= link_to post_path(post) do%>
<div class="card">
  <figure><%= image_tag 'kuest', class: 'rounded-lg'%></figure>
  <div class="card-body p-0 mt-4">
    <p><%= post.title%></p>
  </div>
</div>
<%end%>
