<section class="select-sec overflow-y-auto h-full">
  <h1 class="text-2xl text-center">区一覧</h1>
  <div class="max-w-lg mx-auto">
    <%= render partial: 'area', collection: @areas, as: 'area' %>
  </div>
  <% if current_user %>
    <%= link_to "クエスト中画面へ", quests_path, class: "btn"%>
  <%end%>
</section>