<section class="select-sec overflow-y-auto h-full p-6">
  <h1 class="text-5xl text-center my-4">区一覧</h1>
  <div class="grid grid-cols-2 md:grid-cols-5 gap-4 container mx-auto">
    <%= render partial: 'area', collection: @areas, as: 'area' %>
  </div>
  <div class="text-center">
    <% if current_user %>
      <%= link_to "クエスト中画面へ", quests_path, class: "btn"%>
    <%end%>
    <%= link_to "戻る", home_index_path, class: "btn"%>
  </div>
</section>