<div class="dropdown">
  <label tabindex="0" class="btn m-1">クリア済み一覧</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <%= render partial: 'posts/finish', collection: @posts, as: 'post' %>
  </ul>
</div>