<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-users" class="modal-toggle" />
<label for="my-modal-users" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <% if current_user %>
      <%= link_to "ログアウト", log_out_path, class: "btn"%>
      <%= link_to "ユーザー名編集", edit_user_path(current_user), class: "btn"%>
      <%= render 'posts/finishes'%>
    <%else%>
      <%= link_to 'Googleでログイン', auth_at_provider_path(provider: :google), class: "btn"%>
    <%end%>
  </label>
</label>